if [ -f ~/workspace/platform/gitops/dev-env.sh ]; then
  source ~/workspace/platform/gitops/dev-env.sh
fi

if [ -f ~/.config/secrets/ai.env ]; then
  source ~/.config/secrets/ai.env
fi

# Load local .env
if [ -f .env ]; then
  dotenv
fi

# Local project overrides
export PYTHONPATH=$PYTHONPATH:$(pwd)/src
